@page
@model ProjectBankApp.Pages.Users.UserStatementModel
@{
}

<form method="post">
    <div class="row form-group">
        <div class="col-sm-10"><h2>Customer Profiles </h2></div>
  
       @* <div class="col-sm">
            <a href="/Customers/Add" class="btn btn-success rounded-pill" role="button">
                <i class="fa-solid fa-plus"></i> Add
            </a>
        </div>*@
    </div>
    <div>
  
           
        </div>
        <div>
        <h6 class="text-success">@Model.SuccessMessage </h6>
        <h6 class="text-danger">@Model.ErrorMessage </h6>
        </div>

        <table class="table" style="background-color:aqua">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Account Number</th>
                    <th>Account Holder</th>    
                    <th>Account Type</th>  
                     <th>Date of Transaction</th> 
                    <th>TransactonType</th> 
                      <th>Amount</th> 
                     <th>OpeningBalance</th> 
                     <th>ClosingBalance</th>  
                     <th>Remarks</th>  
                    
                   
                 </tr>
            </thead>

            <tbody>
                <tr>
                    @foreach (var g in @Model.UserStatementList)
                    {
                    <tr>
                        <td>@g.Id</td>
                        <td>@g.AccountNo</td>
                        <td>@g.AccountHolderName</td>
                        <td>@g.AccountType</td>
                        <td>@g.DOT</td>
                        <td>@g.TransactonType</td>
                        <td>@g.Amount</td> 
                        <td>@g.OpeningBalance</td> 
                        <td>@g.ClosingBalance</td> 
                        <td>@g.Remarks</td>
                       
             
                       

                          
                  </tr>
                    }

            </tbody>

        </table>
</form>
